{% extends 'base.html' %}
{% load static %}

{% block content%}
<footer>
<!---- Social Media Links -->
<a href="" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
    <img src="{% static '/icons/linkedin-app-icon.svg' %}" alt="LinkedIn" class="social-icon">
</a>
<a href="" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
    <img src="{% static '/icons/youtube-color-icon.svg' %}" alt="YouTube" class="social-icon">
</a>
<a href="" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
    <img src="{% static '/icons/twitter-app-icon.svg' %}" alt="Twitter" class="social-icon">
</a>
<a href="" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
    <img src="{% static '/icons/ig-instagram-icon.svg' %}" alt="Instagram" class="social-icon">
</a>
<a href="" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
    <img src="{% static '/icons/facebook-round-color-icon.svg' %}" alt="Facebook" class="social-icon">
</a>

</footer>
{% endblock %}

