{% extends 'artworks/base.html' %}
{% load static %}

{% block content %}
<div class="artwork_detail-container">
    <h2>{{ artwork.title }}</h2>

    {% if artwork.is_sold %}
    <span class="sold-badge" style="color: red; font-weight: bold; margin-left: 15px;">SOLD</span>
    {% endif %}
    {% if artwork.image %}
      <img src="{{ artwork.image.url }}" alt="{{ artwork.title }}" class="artwork-image">
    {% else %}
        <p>No image available for this artwork.</p>
    {% endif %}
    <p><strong>Artist:</strong> {{ artwork.artist }}</p>
    {% if artwork.price %}
        <p><strong>Price:</strong> €{{ artwork.price }}</p>
    {% endif %}

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'add_to_cart' artwork.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-success w-100">Add to Cart</button>
    </form>
    {% else %}
      <p><a href="{% url 'login' %}">Log in</a> to add to cart.</p>
    {% endif %}

    <a href="{% url 'artworks_list' %}">Back to all artworks</a>
</div>
{% endblock %}