<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Artworks{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    </head>
    
<body>
    <div class="header">
        <h1 style="margin:0;">Artworks</h1>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        © 2024 Artworks — <a href="#">Privacy</a> | <a href="#">Terms</a> | <a href="#">Contact</a>
    </div>
</body>
</html>

