{% extends 'artworks/base.html' %}

{% block content %}
<h2>Your Cart</h2>

{% if cart_items %}
  <div class="cart-items">
    {% for item in cart_items %}
      <div class="cart-item">
        {% if item.artwork.image %}
          <img src="{{ item.artwork.image.url }}" alt="{{ item.artwork.title }}" class="cart-item-image" />
        {% endif %}
        <div class="cart-item-details">
          <h3>{{ item.artwork.title }}</h3>
          <p>Artist: {{ item.artwork.artist.name }}</p>
          <p>Price: €{{ item.artwork.price }}</p>
          <p>Quantity: {{ item.quantity|default:1}}</p>
        </div>
        <div class="cart-item-remove">
          <form method="post" action="{% url 'artworks:remove_item' item.id %}">
            {% csrf_token %}
            <button type="submit" aria-label="Remove" {{ item.artworks.title }}>Remove</button>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="order-summary">
    <h2>Order Summary</h2>
    <p>Subtotal: €{{ subtotal | floatformat:2 }}</p>
    <p>Taxes: €{{ taxes|floatformat:2 }}</p>
    <p><strong>Total: €{{ total|floatformat:2 }}</strong></p>
      <form method="get" action="{% url 'artworks:checkout' %}">
        <button type="submit" class="btn btn-primary">Checkout</button>
      </form>
  </div>

{% else %}
  <p>Your cart is empty. <a href="{% url 'artworks:artworks_list' %}">Continue Shopping</a></p>
{% endif %}
{% endblock %}
