{% extends 'artworks/base.html' %}
{% load static %}

{% block content %}
<div class="container text-center my-5" style="max-width: 600px;">

    <h1 class="fw-bold">Oops! Page Not Found (404)</h1>
    
    <p class="multicolor-italic-text fst-italic my-3">
        Even artists get lost sometimes. Let's get you back on track!
    </p>

    <img src="https://res.cloudinary.com/dnpiqghrn/image/upload/v1749806643/brushes_saxnjr.jpg" alt="Paint Brushes" class="img-fluid my-4 rounded shadow-sm" style="max-width: 300px;" />

    <p class="mt-4">
        <a href="{% url 'home' %}" class="btn btn-outline-success">
        Return to Homepage
        </a>
</p>
</div>

{% block extra_css %}
<style>
.multicolor-italic-text {
    font-style: italic;
    font-weight: 600;
    background: linear-gradient(90deg, #ff6a00, #ee0979, #ff6a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25rem;
}
</style>
{% endblock %}

{% endblock %}
